// Fonts
$font-helvetica: "HelveticaNeue-Light", "Helvetica", sans-serif;

// Theme: Blue and purple
$color-purple:      #2E2259;
$color-purple-dark: #302266;
$color-blue:        #265DA6;
$color-blue-dark:   #122A4F;
$color-blue-light:  #739CBF;

$bodyBackground: $color-purple-dark;
$listBackground: $color-blue-dark;
$listHighlight: $color-blue;
$textColor: $color-blue-light;
