$bodyBackground: #333399;
$searchBackground: #001326;
$listHighlight: #3399ff;
$textColor: #fff;

body{
    background-color: $bodyBackground;
    background: linear-gradient($bodyBackground, darken($bodyBackground, 10%));
    font-family: "Helvetica", sans-serif;
    color: $textColor;
}

a{
    text-decoration: none;
    color: $textColor;
}

#search{
    position: absolute;
    display: inline-block;
    width: 320px;
    height: auto;
    top: 50%;
    left: 50%;
    padding: 0px;
    margin-top: -19px;
    margin-left: -160px;
    transition: margin-top 0.3s;

    &.active{
        margin-top: -38px * 5 / 2 + -19px;

        #result{
            opacity: 1;
        }
    }

    #searchBox{
        width: 100%;
        margin: 0px;
        border-width: 0px;
        border-bottom: 1px solid #000;
        border-radius: 0px;
        background-color: transparentize(#fff, 0.95);
        padding: 10px;
        font-size: 1em;
        color: #fff;

        &:focus{
            outline: 0px;
            border-bottom: 1px solid #fff;
        }
    }

    #result{
        width: 100%;
        height: auto;
        color: #fff;
        opacity: 0;
        transition: opacity 0.5s 0.3s;

        ul{
            list-style: none;
            margin: 0px;
            padding-left: 0px;

            li{
                padding: 10px;
                background-color: $searchBackground;
                border: {
                    left: 3px solid darken($listHighlight, 30%);
                    bottom: 1px solid lighten($searchBackground, 10%);
                }

                &.selected{
                    border-left: 3px solid $listHighlight;
                    background-color: lighten($searchBackground, 20%) !important;
                }
            }
        }
    }
}
