$bodyBackground: #333399;
$listBackground: #542b97;
$listHighlight: #3399ff;
$textColor: #fff;

body{
    background-color: $bodyBackground;
    background: linear-gradient($bodyBackground, darken($bodyBackground, 10%));
    font-family: "Helvetica", sans-serif;
    color: $textColor;
    margin: 0;
}

a{
    text-decoration: none;
    color: $textColor;
}

.nodisplay{
    display: none !important;
}

.listContainer{
    width: 100%;
    height: auto;
    color: #fff;
    max-width: 300px;

    ul{
        list-style: none;
        margin: 0px;
        padding-left: 0px;

        li{
            padding: 10px;
            background-color: $listBackground;
            border: {
                left: 3px solid darken($listHighlight, 30%);
                bottom: 1px solid lighten($listBackground, 10%);
            }

            &.selected{
                border-left: 3px solid $listHighlight;
                background-color: lighten($listBackground, 20%) !important;
            }
        }
    }
}

#search{
    position: absolute;
    display: inline-block;
    width: 300px;
    height: auto;
    top: 50%;
    left: 50%;
    padding: 0px;
    margin-top: -54px;
    margin-left: -150px;
    transition: margin-top 0.5s;

    &.active{
        margin-top: -38px * 5 / 2 + -54px;

        #time{
            transform: rotateX(90deg);
        }

        #result{
            transform: rotateX(0deg);
        }
    }

    #time{
        padding-bottom: 5px;
        font-size: 1.5em;
        text-align: center;
        opacity: 0.7;
        transition: transform 0.5s;
        transform-origin: bottom;
    }

    #searchBox{
        width: 100%;
        margin: 0px;
        border-width: 0px;
        border-bottom: 1px solid #000;
        border-radius: 0px;
        background-color: transparentize(#fff, 0.95);
        padding: 10px;
        font-size: 1em;
        color: #fff;

        &:focus{
            outline: 0px;
            border-bottom: 1px solid #fff;
        }
    }

    #result{
        transition: transform 0.5s 0.3s;
        transform-origin: top;
        transform: rotateX(90deg);
    }
}

#hothit{
    display: inline-block;
    position: relative;
    bottom: 0px;
    left: -150px;
    width: 150px;
    transition: left 0.5s 0.3s;

    &.show{
        left: 0;
    }
    li{
        font-size: 18px;
        img{
            width: 20px;
            height: 20px;
            padding-right: 10px;
            margin-bottom: -3px;
        }
        &:hover, &.selected{
            background-color: lighten($listBackground, 10%);
        }
    }
}
