@import "theme.scss";

//// normalizing
// ref: http://necolas.github.io/normalize.css/

body{
    margin: 0;
}

a{
    &:active, &:hover {
      outline: 0;
    }
}

ul{
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

// end of normalizing

//// calculate other colors based on theme color
$bodyBackgroundDarken: scale-color($bodyBackground, $lightness: -30%);
$listBorder: scale-color($listBackground, $lightness: 10%);
$listHighlightBorder: scale-color($listHighlight, $lightness: 20%);

body{
    background-color: $bodyBackground;
    background: linear-gradient($bodyBackgroundDarken, $bodyBackground);
    font-family: $font-helvetica;
    color: $textColor;
}

a{
    text-decoration: none;
    color: $textColor;
}

.nodisplay{
    display: none !important;
}

.list_container{
    width: 100%;
    height: auto;
    color: #fff;
    max-width: 300px;

    li{
        padding: 7px;
        background-color: $listBackground;
        border: {
            left: 3px solid $listBorder;
            bottom: 1px solid $listBorder;
        }

        &:hover, &.selected{
            border-left: 3px solid $listHighlightBorder;
            background-color: $listHighlight !important;
        }
    }
}

main{
    position: absolute;
    display: inline-block;
    width: 300px;
    height: auto;
    top: 50%;
    left: 50%;
    padding: 0px;
    margin-top: -54px;
    margin-left: -150px;
    transition: margin-top 0.5s;

    &.active{
        margin-top: -34px * 7 / 2 + -54px;

        .time_display{
            transform: rotateX(90deg);
        }

        .search_result{
            transform: rotateX(0deg);
        }
    }

    .time_display{
        padding-bottom: 5px;
        font-size: 1.5em;
        text-align: center;
        opacity: 0.7;
        transition: transform 0.5s;
        transform-origin: bottom;
    }

    input[type="text"]{
        width: 100%;
        margin: 0px;
        border-width: 0px;
        border-bottom: 1px solid #000;
        border-radius: 0px;
        background-color: transparentize(#fff, 0.95);
        padding: 10px;
        font-size: 1em;
        color: #fff;

        &:focus{
            outline: 0px;
            border-bottom: 1px solid #fff;
        }
    }

    .search_result{
        transform-origin: top;
        transform: rotateX(90deg);
        transition: transform 0.5s 0.25s;
    }
}

.hot_hit_list{
    display: inline-block;
    position: relative;
    bottom: 0px;
    left: -150px;
    width: 150px;
    transition: left 0.5s 0.3s;

    &.show{
        left: 0;
    }
    li{
        font-size: 18px;
        img{
            width: 20px;
            height: 20px;
            padding-right: 10px;
            margin-bottom: -3px;
        }
    }
}
